@model AspNetGroupBasedPermissions.Models.SelectUserGroupsViewModel
@{ ViewBag.Title = "User Groups"; Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="content-wrapper">

    <div class="container-fluid">

        <br />
        <br />
        <h2>Groups for user @Html.DisplayFor(model => model.UserName)</h2>
        <hr />
        @using (Html.BeginForm("UserGroups", "Account", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.UserName)
                    </div>
                </div>
                <h4>Select Group Assignments</h4>
                <br />
                <hr />
                <table>
                    <tr>
                        <th>
                            Select
                        </th>
                        <th>
                            Group
                        </th>
                    </tr>
                    @Html.EditorFor(model => model.Groups)
                </table>
                <br />
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        <!-- Logout Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Select "Logout" below if you are ready to end your current session.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <!--<a class="btn btn-primary"></a>-->@Html.Partial("_LoginPartial")

                    </div>
                </div>
            </div>
        </div>